@font-face {
  font-family: 'GTWalsheimPro-Medium';
  src: url('GTWalsheimPro-Medium.eot');
  src: url('GTWalsheimPro-Medium.eot?#iefix') format('embedded-opentype'),
       url('GTWalsheimPro-Medium.svg#GTWalsheimPro-Medium') format('svg'),
       url('GTWalsheimPro-Medium.ttf') format('truetype'),
       url('GTWalsheimPro-Medium.woff') format('woff'),
       url('GTWalsheimPro-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

