@font-face {
  font-family: 'GTWalsheimPro-Regular';
  src: url('GTWalsheimPro-Regular.eot');
  src: url('GTWalsheimPro-Regular.eot?#iefix') format('embedded-opentype'),
       url('GTWalsheimPro-Regular.svg#GTWalsheimPro-Regular') format('svg'),
       url('GTWalsheimPro-Regular.ttf') format('truetype'),
       url('GTWalsheimPro-Regular.woff') format('woff'),
       url('GTWalsheimPro-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

