@font-face {
  font-family: 'GTWalsheimPro-CondensedLight';
  src: url('GTWalsheimPro-CondensedLight.eot');
  src: url('GTWalsheimPro-CondensedLight.eot?#iefix') format('embedded-opentype'),
       url('GTWalsheimPro-CondensedLight.svg#GTWalsheimPro-CondensedLight') format('svg'),
       url('GTWalsheimPro-CondensedLight.ttf') format('truetype'),
       url('GTWalsheimPro-CondensedLight.woff') format('woff'),
       url('GTWalsheimPro-CondensedLight.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

