@font-face {
  font-family: 'GTWalsheimPro-Bold';
  src: url('GTWalsheimPro-Bold.eot');
  src: url('GTWalsheimPro-Bold.eot?#iefix') format('embedded-opentype'),
       url('GTWalsheimPro-Bold.svg#GTWalsheimPro-Bold') format('svg'),
       url('GTWalsheimPro-Bold.ttf') format('truetype'),
       url('GTWalsheimPro-Bold.woff') format('woff'),
       url('GTWalsheimPro-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

