@import "config/config";

@import "foundation/foundation";
@import "foundation/utils";
@import "resets/resets";
@import "fonts/GTWalsheimPro/Bold/font.css";
@import "fonts/GTWalsheimPro/CondensedLight/font.css";
@import "fonts/GTWalsheimPro/CondensedMedium/font.css";
@import "fonts/GTWalsheimPro/CondensedMedium/font.css";
@import "fonts/GTWalsheimPro/Medium/font.css";
@import "fonts/GTWalsheimPro/Regular/font.css";

@include block(root) {
  position: relative;
  min-height: 100vh;
  max-width: 100%;
  margin: 0 auto;
}

@include block(privacy) {
  @include xy-grid-container(1000px);
  padding: 5em;

  @include breakpoint(small down) {
    padding: 2em;
  }
  background: white;

  h1 {
    font-size: 2em;
    font-weight: bold;
    margin: 0.67em 0;
  }

  h3 {
    font-size: 1.17em;
    font-weight: bold;
    margin: 1em 0px;
  }

  h5 {
    font-size: 1em;
    font-weight: bold;
    margin: 1em 0px;
  }

  p {
    display: block;
    margin: 1em 0px;
  }

  ul {
    display: block;
    list-style-type: disc;
    margin: 1em 0px;
    padding-inline-start: 40px;
  }
}

@include block(pending) {
  background: #38D989;
  height: 100vh;
  @include xy-grid(vertical);
  @include flex-align(center, middle);
  @include xy-grid-container(100%);

  @include element(logo) {
    margin-bottom: 56rem;
  }

  @include element(typography) {
    font-family: Montserrat;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    font-weight: 500;
    padding: 0 30rem;
    p {
      margin-bottom: 50rem;
      &:last-child {
        font-size: 20px;
      }
    }
    span {
      font-weight: bold;
      font-style: normal;
    }
  }
}
