@import "config/config";

@import "foundation/foundation";
@import "foundation/utils";
@import "resets/resets";
@import "fonts/GTWalsheimPro/Bold/font.css";
@import "fonts/GTWalsheimPro/CondensedLight/font.css";
@import "fonts/GTWalsheimPro/CondensedMedium/font.css";
@import "fonts/GTWalsheimPro/CondensedMedium/font.css";
@import "fonts/GTWalsheimPro/Medium/font.css";
@import "fonts/GTWalsheimPro/Regular/font.css";

@include block(root) {
  position: relative;
  min-height: 100vh;
  max-width: 100%;
  margin: 0 auto;
}

@include block(main) {
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 25em;
  @include xy-grid(vertical);
  @include flex-align(center, middle);
  @include xy-grid-container();

  @include block(title) {
    font-size: 3.125em;
    font-weight: bold;
    color: #47cd8a;
    font-family: "GTWalsheimPro-Bold";
    text-align: center;
    margin-bottom: 10em;
  }

  @include block(use_your) {
    font-size: 1.875em;
    font-family: "GTWalsheimPro-Bold";
    font-weight: 500;
    color: white;
    text-align: center;
    > span {
      color: #47cd8a;
      font-weight: bold;
    }
    @include breakpoint(down down) {
      max-width: 90%;
    }
    @include breakpoint(large up) {
      width: 608px;
    }
  }

  @include block(images) {
    // margin-top: 10em;
    @include xy-grid(vertical);
    @include flex-align(center, middle);

    @include block(star) {
      width: 180px;
    }

    @include block(moon) {
      width: 530px;
    }

    @include block(phone) {
      width: 350px;
    }
  }

  @include block(coming_soon) {
    @include xy-grid(vertical);
    @include flex-align(center, middle);

    @include block(title) {
      font-family: "GTWalsheimPro-Bold";
      margin-top: 3em;
      font-size: 1.5em;
      font-weight: 500;
      color: white;
      margin-bottom: 0.4em;
    }

    @include block(apps) {
      @include flex-align(center, middle);
      @include breakpoint(medium up) {
        @include xy-grid();
      }
      @include breakpoint(medium down) {
        @include xy-grid(vertical);
      }
      img {
        @include breakpoint(medium up) {
          width: 200px;
        }

        @include breakpoint(medium down) {
          width: 200px;
        }
      }
    }
  }

  @include block(sign_up) {
    margin-top: 3em;
    @include xy-grid(vertical);
    @include flex-align(center, middle);
    @include block(title) {
      margin-top: 3em;
      font-size: 1.5em;
      font-weight: 500;
      color: white;
      margin-bottom: 0.4em;
    }

    @include block(input) {
      margin-top: 1em;
      background-color: black;
      border: 1px solid white;
      height: 36px;
      border-radius: 4px;
      width: 400px;
      color: white;
      padding-left: 5px;
      @include breakpoint(medium down) {
        width: 90%;
      }

      &::-webkit-input-placeholder {
        // padding-left: 5px;
        color: white;
      }
    }

    @include block(button) {
      margin-top: 1em;
      background-color: #47cd8a;
      border-radius: 4px;
      // width: 80px;
      font-weight: 500;
      height: 36px;
      padding: 0 1em;
    }
  }

  @include block(land) {
    position: sticky;
    bottom: 0;
  }
}

@include block(footer) {
  height: 100%;
  width: 100%;
  @include xy-grid-container();
  @include xy-grid(vertical);
  @include flex-align(center, middle);

  @include element(wrapper) {
    background: black;
    padding: 2em 20px 0em;

    @include modifier(dark) {
      background-color: #001929;
      padding: 2em 20px 6em;
    }
  }

  @include breakpoint(medium down) {
    transform: unset;
  }

  @include element(icons) {
  }

  @include element(icon) {
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 2em;
    }
  }

  @include block(image) {
    height: 47px;
    width: 47px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    @include breakpoint(small only) {
      height: 35px;
      width: 35px;
    }
  }

  @include element(logo) {
    width: 125px;
    max-width: 125px;
    max-height: fit-content;
    margin-bottom: 1em;
  }

  @include element(small-logo) {
    width: 30px;
    max-width: 30px;
    max-height: fit-content;
  }

  @include element(item) {
    color: white;

    &:not(:last-child) {
      margin-bottom: 2em;
    }

    @include breakpoint(small only) {
      margin: 1em 0;
    }
  }

  @include element(copyright) {
    color: white;
    margin-bottom: 1em;
  }
}
